body {
  font-family: 'Noto Sans', sans-serif;
  background-color: cyan;
  margin: 0;
}
header {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #00b3b3;
  padding: 5px 0 0 20px;
  width: 100%;
}
.logo {
  width: 60vw;
}
#header-img {
  width: 45px;
  border: 5px solid white;
  border-radius: 50%;

}
nav ul {
  list-style: none;
  width: 35vw;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 0 10px;
}
.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1em;
}
.nav-link:hover {
  color: blue;
}
main {
  width: 80%;
  margin: auto;
}
#top {
  text-align: center;
  width: 40%;
  margin: 100px auto 50px auto;
}
#email{
  width: 70%;
  height: 20px;
  padding: 5px;
  font-size: 0.9em;
}
#submit {
  display: block;
  margin: 5px auto;
  border: 0px;
  background-color: green;
  width: 60%;
  height: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
}
#gallery {
  display: grid;
  grid-template-columns: 0.6fr 0.41fr;
  grid-column-gap: 30px;
  background-color: #00b3b3;
  padding: 20px;
  border-radius: 10px;
}
.video-container {
  align-self:center;
  max-width: 100%;
}
#video {
  display: block;
  width: 100%;
  height: 300px;
}
#images {
  max-width: 100%;
}
.images-container {
  position: relative;
  margin: auto;
}
.slides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,179,179,0.8);
}
.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots:hover, .active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
#services{
  padding-top: 50px;
  text-align: center;
}
#services ul {
  margin: 0;
  padding: 0;
}
#services ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background-color: #00b3b3;
  height: 250px;
  vertical-align: bottom;
}
.services-text {
  width: 200px;
  padding-top: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 20vw;
  }
  nav ul {
    width: 80vw;
    justify-content: space-around;
  }
  #top {
    width: 100%
  }
  #gallery {
    display: block;
  }
  #images {
    margin: 10px;
  }
  #video {
    margin: auto;
  }
}
